.panel {
    background-image: url('project://database/Assets/Asset%20Pack/GUIPack-Clean&Minimalist/Demo/Sprites/Shapes/Rounded/Rounded.png?fileID=21300000&guid=68ffd20999991484da3419d1cf3e9248&type=3#Rounded');
    opacity: 1;
    display: flex;
    width: 1453px;
    height: 0;
    justify-content: flex-start;
    margin-bottom: 500px;
    margin-top: 140px;
    margin-right: 0;
    padding-top: 0;
}
